// Global 
body {
  -webkit-font-smoothing:antialiased;
}

.antialiased { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

// General
// ------------------------------------------------------ General
.center {
  display: block;
  text-align: center;
  margin: 0 auto;
}
.hidden {
  display: none;
}
.clear {
  clear: both;
}
.overflow-hidden {
  overflow: hidden;
}
.overflow-visible {
  overflow: visible;
}
.sup {
  font-size: 75%;
  line-height: 0;
}
.block{
  display: block;
}
.inline {
  display: inline;
}
.inline-block {
  display: inline-block;
}

// Size
// ------------------------------------------------------ Size
.hunw {
  width: 100%;
}
.hunh {
  height: 100%;
}

// Position
// ------------------------------------------------------ Position
.fleft {
  float: left;
}
.fright {
  float: right;
}
.rel {
  position: relative;
}
.abs {
  position: absolute;
}
.fixed {
  position: fixed;
}
.top {
  top: 0;
}
.left {
  left: 0;
}
.right {
  right: 0;
}
.bottom {
  bottom: 0;
}
.cenpos {
  position: relative;
  left:50%;

  .cenpos-in {
    position: relative;
    left: -50%;
  }
}

// Display - vertical align middle
// ------------------------------------------------------ Display
.valign {
  display: table;
  height: 100%;
  width: 100%;

  .valign-inner {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
  }
}

// Fix for icon font
// ------------------------------------------------------
i {
  line-height: 1.5em;
}