// Docs variables
// ------------------------------------------------------
$white       : #FFFFFF;
$ghost       : #FAFAFA;
$snow        : #F9F9F9;
$vapor       : #F6F6F6;
$white-smoke : #F5F5F5;
$silver      : #EFEFEF;
$smoke       : #EEEEEE;
$gainsboro   : #DDDDDD;
$iron        : #CCCCCC;
$base        : #AAAAAA;
$aluminum    : #999999;
$jumbo       : #888888;
$monsoon     : #777777;
$steel       : #666666;
$charcoal    : #555555;
$tuatara     : #444444;
$oil         : #333333;
$jet         : #222222;
$black       : #000000;

$babyblue: #00DBD3;

$docs-color: $babyblue;

// Docs Media Query Ranges
// ------------------------------------------------------

$docs-xsmall-range: (0em, 479px);
$docs-small-range: (480px, 619px);
$docs-medium-range: (620px, 767px);
$docs-large-range: (768px, 1023px);
$docs-xlarge-range: (1024px, 1345px);
$docs-xxlarge-range: (1346px, 99999999em);

// RANGES
// We use these functions to define ranges for various things, like media queries.
@function lower-bound($range) {
  @if length($range) <= 0 {
    @return 0;
  }
  @return nth($range, 1);
}

@function upper-bound($range) {
  @if length($range) < 2 {
    @return 999999999999;
  }
  @return nth($range, 2);
}

$docs-screen: "only screen";

$docs-xsmall-up: $docs-screen;
$docs-xsmall-only: "#{$docs-screen} and (max-width: #{upper-bound($docs-xsmall-range)})";

$docs-small-up: "#{$docs-screen} and (min-width:#{lower-bound($docs-small-range)})";
$docs-small-only: "#{$docs-screen} and (min-width:#{lower-bound($docs-small-range)}) and (max-width:#{upper-bound($docs-small-range)})";

$docs-medium-up: "#{$docs-screen} and (min-width:#{lower-bound($docs-medium-range)})";
$docs-medium-only: "#{$docs-screen} and (min-width:#{lower-bound($docs-medium-range)}) and (max-width:#{upper-bound($docs-medium-range)})";

$docs-large-up: "#{$docs-screen} and (min-width:#{lower-bound($docs-large-range)})";
$docs-large-only: "#{$docs-screen} and (min-width:#{lower-bound($docs-large-range)}) and (max-width:#{upper-bound($docs-large-range)})";

$docs-xlarge-up: "#{$docs-screen} and (min-width:#{lower-bound($docs-xlarge-range)})";
$docs-xlarge-only: "#{$docs-screen} and (min-width:#{lower-bound($docs-xlarge-range)}) and (max-width:#{upper-bound($docs-xlarge-range)})";

$docs-xxlarge-up: "#{$docs-screen} and (min-width:#{lower-bound($docs-xxlarge-range)})";
$docs-xxlarge-only: "#{$docs-screen} and (min-width:#{lower-bound($docs-xxlarge-range)}) and (max-width:#{upper-bound($docs-xxlarge-range)})";