<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" class="no-js lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" class="no-js lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]>         <html lang="en" class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 9]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{title}}</title>

  <meta name="description" content="TODO">
  <meta name="keywords" content="TODO">

  <!-- TODO og tags for FB share -->
  <meta property="og:title" content="TODO"/>
  <meta property="og:image" content="TODO"/>
  <meta property="og:site_name" content="TODO"/>
  <meta property="og:description" content="TODO"/>

  <link rel="stylesheet" href="/assets/css/main.css">

  <script src="/assets/js/libs/modernizr.min.js"></script>

</head>
<body id="top">

  {{> docs-nav}}

  <div class="docs-title">
    <h3>Project Name</h3>
    <h4>{{title}}</h4>

    <p>
      Last Updated
      </br>
      <strong>{{#date}}{{/date}}</strong>
    </p>
  </div>

  {{>docs-side-nav}}

  <div class="docs-page">
    {% body %}
  </div>

<script src="/assets/js/main.js"></script>

<script type="text/javascript" src="/assets/js/libs/highlight.pack.js"></script>
<script>hljs.initHighlightingOnLoad();</script>

</body>
</html>